body[data-page="index"] {
  padding: 120px 20%; }

body[data-page="index"] h6 {
  padding-top: 20px; }

body[data-page="example"] {
  padding: 8vw 10vw; }

body[data-page="example"] pre code {
  padding-left: 25px;
  font-size: 10pt; }

body[data-page="example"] .demo {
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 2vw; }
  body[data-page="example"] .demo span {
    cursor: pointer; }
